{% extends 'base.html.twig' %}

{% block title %}New EstLivre{% endblock %}

{% block body %}
    <h1>Create new EstLivre</h1>

    {{ include('est_livre/_form.html.twig') }}

    <a href="{{ path('app_est_livre_index') }}">back to list</a>
{% endblock %}
